<div id="ContactID" class="container desktop">

    <br><br> <br><br>

    <div class="row contact">

        <div class="col-sm-12">
            <nav>
                <div class="sub-menus">
                    <ul>
                        <li><a class="Heading">Location</a></li>
                    </ul>
                </div>
            </nav><br><br>

            <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;" class="row">

                <div class="col-sm-4 left-grid">


                    <div class="img-8">
                        <!-- <img src="./assets/images/location.png" alt="img-responsive"> -->
                        <iframe width="100%" height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.9385768811253!2d78.15566305086028!3d12.11635523630097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac16e0e9a675cd%3A0x764b7599f84c3bb5!2sAvengers%20Fitness%20Studio!5e0!3m2!1sen!2sin!4v1604142214826!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div style="position: relative;right: -100px;" class="col-sm-4">
                            <div class="text-1">
                                <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                                <h2>Address:</h2><br>
                                <p>
                                    Annasagram Rd, Indhira Nagar, Dharmapuri, Tamil Nadu - 636701
                                </p>

                            </div>

                            <div class="text-1">
                                <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                                <h2>Timing:</h2><br>
                                <h4> unisex: </h4>
                                <p>5:30 am - 10:00 am <br> 4:30 am - 10:00 am</p>
                                <h4> Ladies: </h4>
                                <p>10:30 am - 4:00 pm</p>

                            </div>
                        </div>

                        <div class="col-sm-4 days">
                            <div class="text-1">
                                <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                                <h2>Working days</h2><br>
                                <p>Monday <br> Tuesday <br> Wednesday <br> Thursday<br> Friday <br> Saturday
                                </p>

                            </div>


                            <div class="text-1">
                                <h2>Fees</h2><br>
                                <p>Montly Rs 500</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="mob-ContactID" class="container mobile">
    <br><br><br><br>
    <div class="row ">

        <div class="sub-menus">
            <ul>
                <li><a class="Heading">Location</a></li>
            </ul>
        </div>
        <div class="col-sm-12">





            <div class="mob-img-8">
                <iframe width="100%" height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.9385768811253!2d78.15566305086028!3d12.11635523630097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac16e0e9a675cd%3A0x764b7599f84c3bb5!2sAvengers%20Fitness%20Studio!5e0!3m2!1sen!2sin!4v1604142214826!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div><br>


            <div class="mob-text-1">
                <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                <h2>Address:</h2>
                <p>
                    Annasagram Rd, Indhira Nagar, Dharmapuri, Tamil Nadu - 636701
                </p>

            </div>
            <br><br><br>
            <div class="mob-text-1">
                <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                <h2>Timing:</h2>
                <h4> unisex: </h4>
                <p>5:30 am - 10:00 am <br> 4:30 am - 10:00 am</p>
                <h4> Ladies: </h4>
                <p>10:30 am - 4:00 pm</p>

            </div>
        </div>


    </div>
</div>




<div id="tab-ContactID" class="container tab">
    <br><br><br><br>
    <div class="row ">

        <div class="sub-menus">
            <ul>
                <li><a class="Heading">Location</a></li>
            </ul>
        </div>
        <div class="col-sm-12">





            <div class="mob-img-8">
                <iframe width="100%" height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.9385768811253!2d78.15566305086028!3d12.11635523630097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bac16e0e9a675cd%3A0x764b7599f84c3bb5!2sAvengers%20Fitness%20Studio!5e0!3m2!1sen!2sin!4v1604142214826!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div><br>


            <div class="mob-text-1">
                <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                <h2>Address:</h2>
                <p>
                    Annasagram Rd, Indhira Nagar, Dharmapuri, Tamil Nadu - 636701
                </p>

            </div>
            <br><br><br>
            <div class="mob-text-1">
                <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                <h2>Timing:</h2>
                <h4> unisex: </h4>
                <p>5:30 am - 10:00 am <br> 4:30 am - 10:00 am</p>
                <h4> Ladies: </h4>
                <p>10:30 am - 4:00 pm</p>

            </div>
        </div>


    </div>
</div>
<br><br> <br><br>