<div id="GalleryID" class="container desktop">

    <br><br> <br><br>

    <div class="row gallery">

        <div class="col-sm-12">
            <nav>
                <div class="sub-menus">
                    <ul>
                        <li><a class="Heading">Gallery</a></li>
                    </ul>
                </div>
            </nav><br><br>
            <div class="row">
                <div class="col-sm-6 left-grid">

                    <div class="img-1">

                        <img src="./assets/images/avengers studio assets/image viewer.png" alt="img-responsive">

                    </div>
                    <div class="row " style="margin: 10px;">
                        <div class="col-3 img-2 ">
                            <img src="./assets/images/2.jpg" alt="img-responsive">

                        </div>
                        <div class="col-3 img-2 ">
                            <img src="./assets/images/gym_1280p.jpg" alt="img-responsive">

                        </div>
                    </div>
                    <div class="img-3">

                        <img src="./assets/images/gyms-with-turf.jpg" alt="img-responsive">

                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="img-4">
                        <img src="./assets/images/4.jpg" alt="img-responsive">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="row facilities">

        <div class="col-sm-12">
            <nav>
                <div class="sub-menus">
                    <ul>
                        <li><a class="Heading">Facilities</a></li>
                    </ul>
                </div>
            </nav><br><br>
            <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;" class="row">

                <div class="col-sm-6 left-grid">


                    <div class="img-5">
                        <img src="./assets/images/2.jpg" alt="img-responsive">

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="text-1">
                        <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                        <h2>Spacious flooring</h2>
                        <p>
                            We have very spacious workout, that will match to all type of workout regimen and intensity.
                        </p>

                    </div>
                </div>
            </div><br><br>


            <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: center;" class="row">

                <div class="col-sm-6 left-grid">


                    <div class="text-1">
                        <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                        <h2>Amenities</h2>
                        <p>
                            We provide parking space along with your own personal locker to store your personal belongins securely while you are killing the sweat.
                        </p>

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="img-6">
                        <img src="./assets/images/2.jpg" alt="img-responsive">

                    </div>
                </div>
            </div><br><br>

            <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;" class="row">

                <div class="col-sm-6 left-grid">


                    <div class="img-7">
                        <img src="./assets/images/2.jpg" alt="">

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="text-1">
                        <!-- <img src="/assets/images/avengers studio assets/image viewer.png" alt=""> -->

                        <h2>Modern Equipment</h2>
                        <p>
                            Our gym is fully equipped with modern equipment's that help our members to achieve maximum with minimum impact on their joints.
                        </p>

                    </div>
                </div>
            </div>

        </div>


    </div>

</div>





<div id="mob-GalleryID" class="container mobile">

    <div class="row "><br><br>

        <div class="sub-menus">
            <ul>
                <li><a class="Heading">Gallery</a></li>
            </ul>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-6 mob-img1">
                    <img src="./assets/images/avengers studio assets/image viewer.png" alt="img-responsive">

                </div>
                <div class="col-6 mob-img2">
                    <img src="./assets/images/2.jpg" alt="img-responsive">

                </div>
            </div><br>

            <div class="row">
                <div class="col-6 mob-img1">
                    <img src="./assets/images/avengers studio assets/image viewer.png" alt="img-responsive">

                </div>
                <div class="col-6 mob-img2">
                    <img src="./assets/images/2.jpg" alt="img-responsive">

                </div>
            </div><br>
            <div class="row">
                <div class="col-6 mob-img1">
                    <img src="./assets/images/avengers studio assets/image viewer.png" alt="img-responsive">

                </div>
                <div class="col-6 mob-img2">
                    <img src="./assets/images/2.jpg" alt="img-responsive">

                </div>
            </div>
        </div>
    </div> <br><br><br><br>


    <div class="row"><br><br>
        <div class="sub-menus">
            <ul>
                <li><a class="Heading">Facilities</a></li>
            </ul>
        </div>

        <div class="col-sm-12">
            <div class="mob-img3">
                <img src="./assets/images/2.jpg" alt="img-responsive">

            </div><br>

            <div class="mob-text-1">

                <h2>Spacious flooring</h2>
                <p>
                    We have very spacious workout, that will match to all type of workout regimen and intensity.
                </p>

            </div>


        </div>

        <div class="col-sm-12">
            <br><br>
            <div class="mob-img3">
                <img src="./assets/images/2.jpg" alt="img-responsive">

            </div><br>

            <div class="mob-text-1">

                <h2>Amenities</h2>
                <p>
                    We provide parking space along with your own personal locker to store your personal belongins securely while you are killing the sweat.
                </p>

            </div>


        </div>


        <div class="col-sm-12">
            <br><br>
            <div class="mob-img3">
                <img src="./assets/images/2.jpg" alt="img-responsive">

            </div><br>

            <div class="mob-text-1">
                <h2>Modern Equipment</h2>
                <p>
                    Our gym is fully equipped with modern equipment's that help our members to achieve maximum with minimum impact on their joints.
                </p>

            </div>


        </div>
    </div>
</div>











<div id="tab-GalleryID" class="container tab">

    <div class="row "><br><br>

        <div class="sub-menus">
            <ul>
                <li><a class="Heading">Gallery</a></li>
            </ul>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-6 mob-img1">
                    <img src="./assets/images/avengers studio assets/image viewer.png" alt="img-responsive">

                </div>
                <div class="col-6 mob-img2">
                    <img src="./assets/images/2.jpg" alt="img-responsive">

                </div>
            </div><br>

            <div class="row">
                <div class="col-6 mob-img1">
                    <img src="./assets/images/avengers studio assets/image viewer.png" alt="img-responsive">

                </div>
                <div class="col-6 mob-img2">
                    <img src="./assets/images/2.jpg" alt="img-responsive">

                </div>
            </div><br>
            <div class="row">
                <div class="col-6 mob-img1">
                    <img src="./assets/images/avengers studio assets/image viewer.png" alt="img-responsive">

                </div>
                <div class="col-6 mob-img2">
                    <img src="./assets/images/2.jpg" alt="img-responsive">

                </div>
            </div>
        </div>
    </div> <br><br><br><br>


    <div class="row"><br><br>
        <div class="sub-menus">
            <ul>
                <li><a class="Heading">Facilities</a></li>
            </ul>
        </div>

        <div class="col-sm-12">
            <div class="mob-img3">
                <img src="./assets/images/2.jpg" alt="img-responsive">

            </div><br>

            <div class="mob-text-1">

                <h2>Spacious flooring</h2>
                <p>
                    We have very spacious workout, that will match to all type of workout regimen and intensity.
                </p>

            </div>


        </div>

        <div class="col-sm-12">
            <br><br>
            <div class="mob-img3">
                <img src="./assets/images/2.jpg" alt="img-responsive">

            </div><br>

            <div class="mob-text-1">

                <h2>Amenities</h2>
                <p>
                    We provide parking space along with your own personal locker to store your personal belongins securely while you are killing the sweat.
                </p>

            </div>


        </div>


        <div class="col-sm-12">
            <br><br>
            <div class="mob-img3">
                <img src="./assets/images/2.jpg" alt="img-responsive">

            </div><br>

            <div class="mob-text-1">
                <h2>Modern Equipment</h2>
                <p>
                    Our gym is fully equipped with modern equipment's that help our members to achieve maximum with minimum impact on their joints.
                </p>

            </div>


        </div>
    </div>
</div>