.example-container {
    height: 100%;
}

.sidenav-fixed {
    position: fixed;
}

mat-drawer-content {
    background-color: white;
    overflow: hidden;
}

mat-drawer {
    background-color: #F74342;
    /* width: 50%; */
    overflow: hidden !important;
}

.fa-times {
    color: white;
    margin: 10%;
    cursor: pointer;
}

.fa-bars {
    cursor: pointer;
}

.side-menu {
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    cursor: pointer;
}

.side-menu>ul>li {
    margin-top: 15px;
    color: white;
}

.navbar {
    background: white !important;
    width: 100%;
    height: 15%;
    /* margin-top: 1%; */
    padding: 0px 0px 0px 0px;

    z-index: 1;
    /* top: -40px; */

}

.navbar-brand {
    position: relative;
    left: 10%;
}

.navbar-brand>img {
    width: 50%;
    height: 160px;
}

.menus {
    position: relative;
    font-family: 'Poppins', sans-serif;
    right: 0;
}

ul {
    float: left;
}

li {
    color: black;
    padding-right: 150px;
}

.menus>ul>li {
    float: left;
    clear: right;
    text-decoration: none;
    list-style: none;
}

.navbar-menu {
    color: rgba(41, 41, 41, 0.212);
    cursor: pointer;
}

.navbar-menu:hover {
    color: black;
    border-bottom: 3px solid #F74342;
}

.navbar-menu:focus {
    color: black;
    border-bottom: 3px solid #F74342;
}

.navbar-active {
    color: black;
    border-bottom: 3px solid #F74342;
}

.footer {
    width: 100%;
    height: 20%;
    background-color: #F74342;
}

.cta {
    font-family: 'Poppins', 'san-serif';
    font-weight: 500;
    font-size: 30px;
    color: white;
    padding: 50px;
    position: relative;
    right: -200px;
}

@media only screen and (max-width: 1200px) {
    .cta {
        font-family: 'Poppins', 'san-serif';
        font-weight: 500;
        font-size: 30px;
        color: white;
        padding: 50px;
        position: relative;
        right: -100px;
    }
    li {
        color: black;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    li {
        color: black;
        padding-right: 50px;
    }
    .desktop {
        display: none;
    }
    .tab {
        display: block;
    }
    .mobile {
        display: none;
    }
    .navbar {
        background: white !important;
        width: 100%;
        height: 10%;
        z-index: 1;
        margin: 0 auto;
    }
    .navbar-brand {
        position: relative;
        top: 0;
    }
    .menus {
        position: relative;
        top: 0%;
    }
    .navbar-brand>img {
        width: 40%;
        height: 110px;
        /* text-align: center; */
    }
    .mob-footer {
        background-color: #F74342;
        /* width: 100%; */
        /* margin: 0 auto; */
        /* text-align: center; */
    }
    .mobile>p {
        font-family: 'Poppins', 'san-serif';
        font-weight: 400;
        font-size: 15px;
        color: white;
        padding: 50px;
        margin: 0 auto;
        text-align: center;
    }
    .side-menu {
        color: white;
        font-family: 'Poppins', 'sans-serif';
        font-size: 40px;
        margin: 20px;
        cursor: pointer;
    }
    .side-menu>ul>li {
        margin: 20px;
        color: white;
    }
}

@media only screen and (max-width: 800px) {
    .desktop {
        display: none;
    }
    .navbar {
        background: white !important;
        width: 100%;
        height: 10%;
        z-index: 1;
        margin: 0 auto;
    }
    .navbar-brand {
        position: relative;
        top: 0;
    }
    .menus {
        position: relative;
        top: 0%;
    }
    .navbar-brand>img {
        width: 40%;
        height: 100px;
        /* text-align: center; */
    }
    .mob-footer {
        background-color: #F74342;
        /* width: 100%; */
        /* margin: 0 auto; */
        /* text-align: center; */
    }
    .mob-footer>p {
        font-family: 'Poppins', 'san-serif';
        font-weight: 400;
        font-size: 15px;
        color: white;
        padding: 50px;
        margin: 0 auto;
        text-align: center;
    }
    .example-container {
        height: 100%;
        width: 100%;
    }
    .sidenav-fixed {
        position: fixed;
        /* width: 50%; */
    }
    mat-drawer-content {
        background-color: white;
        overflow: hidden;
    }
    mat-drawer {
        background-color: #F74342;
        /* width: 50%; */
        overflow: hidden !important;
    }
    .side-menu {
        color: white;
        font-family: 'Poppins', 'sans-serif';
        font-size: 20px;
        cursor: pointer;
        margin: auto;
    }
    .side-menu>ul>li {
        /* margin-top: 15px; */
        color: white;
    }
    .flex-box{
        display: flex;
        /* grid-template-columns: auto auto; */
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

}