<mat-drawer-container class="example-container" autosize>
    <mat-drawer class="sidenav-fixed" mode="over" position="end" #snav>
        <i (click)="snav.toggle()" class="fa fa-times" aria-hidden="true"></i>

        <div class="side-menu">
            <ul>
                <li [ngClass]="{'navbar-active': isActive == 0}" (click)="onClick('mob-HomeID',0)">Home</li>
                <li [ngClass]="{'navbar-active': isActive == 1}" (click)="onClick('mob-GalleryID',1)">Gallery</li>
                <li [ngClass]="{'navbar-active': isActive == 2}" (click)="onClick('mob-ContactID',2)">Contact</li>
            </ul>
        </div>
    </mat-drawer>
    <mat-drawer-content>



            <nav class="navbar fixed-top   desktop">
                <a class="navbar-brand" (click)="onClick('HomeID',0)">
                    <img src="assets/images/avengers logo.png" alt="logo">
                </a>

                <div class="menus ">
                    <ul>

                        <li ><a class="navbar-menu" [ngClass]="{'navbar-active': isActive == 0}"  (click)="onClick('HomeID',0)">Home</a></li>
                        <li ><a class="navbar-menu" [ngClass]="{'navbar-active': isActive == 1}"  (click)="onClick('GalleryID',1)">Gallery</a></li>
                        <li ><a class="navbar-menu" [ngClass]="{'navbar-active': isActive == 2}"  (click)="onClick('ContactID',2)">Contact</a></li>
                    </ul>
                </div>


            </nav>

        <div class="container tab">
            <nav class="navbar fixed-top   ">
                <a class="navbar-brand" (click)="onClick('tab-HomeID',0)">
                    <img src="assets/images/avengers logo.png" alt="logo">
                </a>



                <div class="menus tab">
                    <ul>
                        <li><a [ngClass]="{'navbar-active': isActive == 0}" class="navbar-menu" (click)="onClick('tab-HomeID', 0)">Home</a></li>
                        <li><a [ngClass]="{'navbar-active': isActive == 1}" class="navbar-menu" (click)="onClick('tab-GalleryID',1)">Gallery</a></li>
                        <li><a [ngClass]="{'navbar-active': isActive == 2}" class="navbar-menu" (click)="onClick('tab-ContactID', 2)">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>


            <nav class="navbar fixed-top  mobile navbar-light bg-light ">
                <div class="navbar-brand flex-box" (click)="onClick('mob-HomeID',0)">
                    <img src="assets/images/avengers logo.png" alt="logo">
                    <span (click)="snav.toggle()" class=" fa fa-bars " aria-hidden="true "></span>

                </div>


                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>    -->
            </nav>






        <div class="content " fxLayout="column " fxFlex>
            <app-home></app-home>
            <app-gallery fxLayout="column "></app-gallery>
            <app-contact fxLayout="column "></app-contact>

        </div>


    </mat-drawer-content>
</mat-drawer-container>

<div class="footer desktop ">
    <div class="container ">
        <div class="row ">
            <div class="cta ">
                Designed and Developed by Blue Pixel Studio.
            </div>
        </div>
    </div>
</div>



<!-- <div class="mob-footer mobile ">

    <div class="row ">
        <p> Designed and Developed by Blue Pixel Studio.</p>
    </div>
</div> -->


<div class="mob-footer mobile ">

    <p>Designed and Developed by Blue Pixel Studio.</p>
</div>


<!-- <router-outlet></router-outlet> -->