<!-- ================================= BANNER and HEADLINE ==================================================== -->

<div id="HomeID" class="container desktop">
    <br><br> <br><br>
    <div class="banner">
        <div class="row ">
            <div class="col-6">

                <div class="text">
                    <p class="Headline"> AVENGERS FITNESS STUDIO </p>
                    <p class="tagline"> We have a well trained staff with world class<br> equipment to help you get <span style="color:#f74242c5">fit</span>. </p>
                    <button class="banner-btn btn " type="submit"><a class="phno" href="{{'tel:'+09994086556}}">Book a free trial</a></button>
                    <span style="font-weight: 900; font-size: 30px;color: black;" class="btn-notify">Rs. 500 </span>
                </div>
            </div>
            <div class="col-6">
                <div class="banner-elemt">
                    <div class="bg-circle"></div>
                    <img class="banner-img" src="./assets/images/avengers studio assets/landing page cutout.png" alt="banner">

                </div>

            </div>

            <div class="arrow-down">
                <i (click)="onClick('GalleryID')" class="fa fa-angle-down" aria-hidden="true"></i>

            </div>

        </div>
    </div>

</div>


<div id="tab-HomeID" class="container tab">
    <br><br> <br><br>
    <div class="banner">
        <div class="row ">
            <div class="col-6">

                <div class="text">
                    <p class="Headline"> AVENGERS FITNESS STUDIO </p>
                    <p class="tagline"> We have a well trained staff with world class<br> equipment to help you get <span style="color:#f74242c5">fit</span>. </p>
                    <button class="banner-btn btn " type="submit"><a class="phno" href="{{'tel:'+09994086556}}">Book a free trial</a></button>
                    <span style="font-weight: 900; font-size: 20px;color: black;" class="btn-notify">Rs. 500 </span>
                </div>
            </div>
            <div class="col-6">
                <div class="banner-elemt">
                    <div class="bg-circle"></div>
                    <img class="banner-img" src="./assets/images/avengers studio assets/landing page cutout.png" alt="banner">

                </div>

            </div>

            <div class="arrow-down">
                <i (click)="onClick('tab-GalleryID')" class="fa fa-angle-down" aria-hidden="true"></i>

            </div>

        </div>
    </div>

</div>


<div id="mob-HomeID" class="container mobile">

    <div class="row ">
        <div class="col-sm-12">
            <div class="mob-text">
                <p class="mob-Headline"> AVENGERS <br> FITNESS <br>STUDIO </p>
                <p class="mob-tagline"> We have a well<br> trained staff with world class<br> equipment to help you get <span style="color:#f74242c5">fit</span>. </p>
                <button class="mob-banner-btn btn " type="submit"><a class="phno" href="{{'tel:'+09994086556}}">Book a free trial</a></button><br>
                <span style="font-weight: 900; font-size: 10px;color: black;" class="mob-btn-notify">Rs. 500 </span>
            </div>
        </div>

        <div class="arrow-down">
            <i (click)="onClick('mob-GalleryID')" class="fa fa-angle-down" aria-hidden="true"></i>

        </div>
        <div class="logo">
            <!-- <img src="/assets/images/avengers-png-logo-4979-128x128.ico" alt=""> -->
        </div>
    </div>

</div>